<section class="container">
   <section class="flex-row justify-center">

    {{#each posts}}
    <section class="card">
      <header class="card-header">
        <div class="card-header-title">
          <a class="blog-title-link" href="/post/{{id}}">{{title}}</a>
          <p> Posted by {{user.username}} on {{createdAt}}</p> 
        </div>
      </header>
      <section class="card-content">
        <p class="content">
          {{content}}
        </p>
      </section>
    </section>
    {{/each}}

  </section>
</section>