<div class="posts">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
    {{#with post}}
        <p>  
          {{title}}
        </p>
        <p>
          Posted by {{user.username}} on {{createdAt}}
        </p> 
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        {{content}}
      </div>
      {{#each comments }}
        <div>
          {{content}}
        </div>
        <div>
          --{{user.username}}, {{createdAt}}
        </div>
      {{/each}}
    {{/with}}
    </div>
  </div>
</div>